@import "../../responsive.scss";

.profileUpdatePage {
  height: 100%;
  display: flex;

  .formContainer {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .item {
        display: flex;
        flex-direction: column;
        gap: 5px;

        input {
          padding: 20px;
          border-radius: 5px;
          border: 1px solid gray;
        }
      }
      button {
        padding: 20px;
        border-radius: 5px;
        border: none;
        background-color: mediumseagreen;
        color: white;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .sideContainer {
    flex: 2;
    background-color: rgb(107, 177, 139);
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-right: 30px;
    gap: 10px;
    align-items: center;
    justify-content: center;

    @include sm {
      margin-top: 100px;
      margin-right: 0px;
    }

    .avatar {
      width: 50%;
      object-fit: cover;
    }
  }
}
