@import "../../responsive.scss";

.filter {
  // background-color: brown;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;

  // @include md {
  //   margin-left: 5px;
  // }

  @include sm {
  }

  h1 {
    font-size: 24px;
    font-weight: 300;
  }
  .item {
    display: flex;
    flex-direction: column;
    gap: 2px;
    label {
      font-size: 10px;
    }
    input,
    select {
      width: 100px;
      padding: 10px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      font-size: 14px;
    }
  }

  .top {
    input {
      width: 100%;
    }
  }
  .bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    // @include md {
    //   .item {
    //     flex: 1 1 calc(33.33% - 20px); /* Three items per row with space for gap */
    //     min-width: 150px; /* Ensure a minimum width for items */
    //   }
    // }
    @include sm {
      .item {
        flex: 2 2 2 100%; /* One item per row on small screens */
      }
    }

    .button {
      width: 100px;
      padding: 10px;
      border: none;
      cursor: pointer;
      // background-color: #fece51;
      background-color: mediumseagreen;
      // background-color: forestgreen;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
