@import "../../responsive.scss";

.profilePage {
  // background-color: blueviolet;
  padding-top: 15px;
  display: flex;
  height: 100%;

  @include md {
    flex-direction: column;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none; /* Hide the scrollbar in webkit browsers */
    }
  }

  .details {
    flex: 3;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 50px;
    margin-bottom: 50px;
    @include md {
      flex: none;
      height: max-content;
    }
    .wrapper {
      // padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        button {
          padding: 12px 24px;
          // background-color: #fece51;
          background-color: mediumseagreen;
          cursor: pointer;
          border: none;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        button {
          width: 100px;
          background-color: mediumseagreen;
          border: none;
          color: white;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }

  .chatContainer {
    flex: 2;
    background-color: rgb(107, 177, 139);

    // background-color: #fcf5f3;
    height: 100%;
    @include md {
      flex: none;
      height: max-content;
    }
  }

  .wrapper {
    padding: 0px 20px;
    height: 100%;
  }
}
